.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 1rem 0;

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-weight: 700;
    margin: .5rem 0;
  }

}
